@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
}
